/* help.css */
.help-btn {
  border: none;
  padding: 10px;
  border-radius: 8px;
  background-image: linear-gradient(
    to left,
    #5454ff,
    #128dff
  ); /* Gradient effect */
  background-size: 200% auto; /* Twice the width for the smooth transition */
  color: #fff;
  transition: background-position 1s ease-in-out;
}

.help-btn:hover {
  background-position: -100% 0; /* Moves the gradient to the left */
}
