.App {
  text-align: center;
  width: 98vw;
}

.content {
  margin: 1rem;
}

.main-contain {
  position: relative;
}

.home,
.about,
.contact,
.help {
  width: 100%;
  height: 100vh;
  padding-top: 57px;
}

.myname {
  font-size: 100px;
  font-weight: lighter;
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
